@import "~assets/style/variables/varibales.scss";
@import "~assets/style/base/typography.scss";

.profile {
  display: flex;
  align-items: center;
}

.name {
  margin: 0 $offset-200;
  @media (max-width: $screen-md) {
    display: none;
  }
}

.nameText {
  font-weight: 600;
  font-size: $font-size-m;
  color: $color-base-500;
}

.picture {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: $color-base-50;
  overflow: hidden;
  @media (max-width: $screen-md) {
    width: 32px;
    height: 32px;
  }
}

.pictureImg {
  object-fit: cover;
  object-position: center center;
}
