@import "~@/assets/style/variables/varibales.scss";
@import "~@/assets/style/form/input.scss";
@import "~@/assets/style/utils/positioning.scss";

.inputFile {
  @extend %input;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  @media (max-width: $screen-md) {
    height: 250px;
  }
}

.input {
  @extend %full-absolute;
  opacity: 0;
  user-select: none;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 10px;
  background: $color-base-0;
  border-radius: $border-radius-s;
}

.iconSvg {
  width: 100%;
  height: 100%;
  color: $brand-primary-400
}

.filename {
  @extend %text;
  margin-top: $offset-200;
  font-size: $font-size-s;
}
