@font-face {
  font-family: 'Codec Pro';
  src: url('~@/assets/fonts/CodecPro/CodecPro-Light.eot');
  src: local('Codec Pro Light'), local('CodecPro-Light'),
  url('~@/assets/fonts/CodecPro/CodecPro-Light.eot') format('embedded-opentype'),
  url('~@/assets/fonts/CodecPro/CodecPro-Light.woff2') format('woff2'),
  url('~@/assets/fonts/CodecPro/CodecPro-Light.woff') format('woff'),
  url('~@/assets/fonts/CodecPro/CodecPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('~@/assets/fonts/CodecPro/CodecPro-Bold.eot');
  src: local('Codec Pro Bold'), local('CodecPro-Bold'),
  url('~@/assets/fonts/CodecPro/CodecPro-Bold.eot') format('embedded-opentype'),
  url('~@/assets/fonts/CodecPro/CodecPro-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/CodecPro/CodecPro-Bold.woff') format('woff'),
  url('~@/assets/fonts/CodecPro/CodecPro-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
