@import "../variables/varibales";
@import "typography";

@keyframes a-lazy-image {
  from {
    opacity: 0;
    transform: scale(1.15);
  }
}

html {
  font-family: 'Codec Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  background: $color-base-0;

  &::-webkit-scrollbar {
    width: 12px;
    background: $color-base-50;

    &-thumb {
      background: $color-base-100;
    }
  }
}

*::selection {
  color: $color-base-50;
  background: $brand-primary-300;
}


h1, .h1 {
  @extend %h1;
}

h2, .h2 {
  @extend %h2;
}

h3, .h3 {
  @extend %h3;
}

a {
  text-decoration: none;
}

a:hover {
  color: $brand-primary-400;
}

.nuxt-link-active {
  color: $brand-primary-400;
  &:hover {
    color: $brand-primary-400;
    cursor: default;
  }
}

#logo {
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    @extend %text;
    font-size: $font-size-s;
    position: relative;
    padding-left: $offset-300;
    margin-bottom: $offset-200;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $brand-secondary-400;
    }
  }
}

p {
  @extend %text;
  font-size: $font-size-s;
}


img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &[lazy=loaded] {
    animation: a-lazy-image $transition-s ease;
  }
}
