@import "~@/assets/style/variables/varibales.scss";

%h1 {
  font-weight: 600;
  font-size: $font-size-xxl;
  line-height: 1.2;
  color: $color-base-500;
  margin: 0 0 $offset-300;
  @media (max-width: $screen-md) {
    font-size: $font-size-xl;
    margin: 0 0 $offset-150;
  }
}

%h2 {
  font-weight: 600;
  font-size: $font-size-xl;
  line-height: 1.2;
  color: $color-base-500;
  margin: 0 0 $offset-300;
  @media (max-width: $screen-md) {
    font-size: $font-size-l;
    margin: 0 0 $offset-150;
  }
}


%h3 {
  font-weight: 600;
  font-size: $font-size-m;
  line-height: 1.2;
  color: $color-base-500;
  @media (max-width: $screen-md) {
    font-size: $font-size-m;
    margin: 0 0 $offset-50;
  }
}

%text {
  font-weight: 300;
  font-size: $font-size-m;
  line-height: 1.5;
  color: $color-base-300;
}
